# SPDX-FileCopyrightText: 2024 Philip Molares

# SPDX-License-Identifier: MIT

name: REUSE Compliance Check

on: [push, pull_request]

jobs:
  reuse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v4
